In [2]:
import pandas as pd

In [6]:
all_df = pd.read_csv (r'data_covid_cases.csv')
all_df.head ()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,25/08/2020,25,8,2020,71,10,Afghanistan,AF,AFG,38041757.0,Asia,2.670749
1,24/08/2020,24,8,2020,0,0,Afghanistan,AF,AFG,38041757.0,Asia,2.484112
2,23/08/2020,23,8,2020,105,2,Afghanistan,AF,AFG,38041757.0,Asia,2.484112
3,22/08/2020,22,8,2020,38,0,Afghanistan,AF,AFG,38041757.0,Asia,2.310619
4,21/08/2020,21,8,2020,97,2,Afghanistan,AF,AFG,38041757.0,Asia,2.415766

In [8]:
clean_df = all_df.dropna(how="any")
clean_df.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,25/08/2020,25,8,2020,71,10,Afghanistan,AF,AFG,38041757.0,Asia,2.670749
1,24/08/2020,24,8,2020,0,0,Afghanistan,AF,AFG,38041757.0,Asia,2.484112
2,23/08/2020,23,8,2020,105,2,Afghanistan,AF,AFG,38041757.0,Asia,2.484112
3,22/08/2020,22,8,2020,38,0,Afghanistan,AF,AFG,38041757.0,Asia,2.310619
4,21/08/2020,21,8,2020,97,2,Afghanistan,AF,AFG,38041757.0,Asia,2.415766

In [11]:
europe_df = clean_df.loc[clean_df["continentExp"] == "Europe"]
europe_df.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
229,25/08/2020,25,8,2020,178,4,Albania,AL,ALB,2862427.0,Europe,72.281319
230,24/08/2020,24,8,2020,152,5,Albania,AL,ALB,2862427.0,Europe,70.429744
231,23/08/2020,23,8,2020,156,5,Albania,AL,ALB,2862427.0,Europe,69.870777
232,22/08/2020,22,8,2020,152,2,Albania,AL,ALB,2862427.0,Europe,68.752845
233,21/08/2020,21,8,2020,155,4,Albania,AL,ALB,2862427.0,Europe,68.158943

In [27]:
grouped_df = europe_df.groupby(["countriesAndTerritories", "month"]).sum({'cases'})
grouped_df.head(20)

TypeError: f() takes 1 positional argument but 2 were given