In [1]:
import pandas as pd

In [4]:
#read in data
data_file = "Resources/data_covid_cases.csv"
all_df = pd.read_csv(data_file)
all_df.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,25/08/2020,25,8,2020,71,10,Afghanistan,AF,AFG,38041757.0,Asia,2.670749
1,24/08/2020,24,8,2020,0,0,Afghanistan,AF,AFG,38041757.0,Asia,2.484112
2,23/08/2020,23,8,2020,105,2,Afghanistan,AF,AFG,38041757.0,Asia,2.484112
3,22/08/2020,22,8,2020,38,0,Afghanistan,AF,AFG,38041757.0,Asia,2.310619
4,21/08/2020,21,8,2020,97,2,Afghanistan,AF,AFG,38041757.0,Asia,2.415766

In [9]:
rename_df = all_df.rename(columns={'countriesAndTerritories': 'countries', 'continentExp' : 'continents', 'countryterritoryCode' : 'country code', 'Cumulative_number_for_14_days_of_COVID-19_cases_per_100000': 'number of COVID-19 cases per 100000 (14 Days)' })
rename.head()

,dateRep,day,month,year,cases,deaths,countries,geoId,country code,popData2019,continents,number of COVID-19 cases per 100000 (14 Days)
0,25/08/2020,25,8,2020,71,10,Afghanistan,AF,AFG,38041757.0,Asia,2.670749
1,24/08/2020,24,8,2020,0,0,Afghanistan,AF,AFG,38041757.0,Asia,2.484112
2,23/08/2020,23,8,2020,105,2,Afghanistan,AF,AFG,38041757.0,Asia,2.484112
3,22/08/2020,22,8,2020,38,0,Afghanistan,AF,AFG,38041757.0,Asia,2.310619
4,21/08/2020,21,8,2020,97,2,Afghanistan,AF,AFG,38041757.0,Asia,2.415766

In [10]:
clean_df = rename_df.dropna(how="any")
clean_df.head()

,dateRep,day,month,year,cases,deaths,countries,geoId,country code,popData2019,continents,number of COVID-19 cases per 100000 (14 Days)
0,25/08/2020,25,8,2020,71,10,Afghanistan,AF,AFG,38041757.0,Asia,2.670749
1,24/08/2020,24,8,2020,0,0,Afghanistan,AF,AFG,38041757.0,Asia,2.484112
2,23/08/2020,23,8,2020,105,2,Afghanistan,AF,AFG,38041757.0,Asia,2.484112
3,22/08/2020,22,8,2020,38,0,Afghanistan,AF,AFG,38041757.0,Asia,2.310619
4,21/08/2020,21,8,2020,97,2,Afghanistan,AF,AFG,38041757.0,Asia,2.415766

In [65]:
europe_df = clean_df.loc[clean_df["continents"] == "Europe"]
europe_df.head()

,dateRep,day,month,year,cases,deaths,countries,geoId,country code,popData2019,continents,number of COVID-19 cases per 100000 (14 Days)
229,25/08/2020,25,8,2020,178,4,Albania,AL,ALB,2862427.0,Europe,72.281319
230,24/08/2020,24,8,2020,152,5,Albania,AL,ALB,2862427.0,Europe,70.429744
231,23/08/2020,23,8,2020,156,5,Albania,AL,ALB,2862427.0,Europe,69.870777
232,22/08/2020,22,8,2020,152,2,Albania,AL,ALB,2862427.0,Europe,68.752845
233,21/08/2020,21,8,2020,155,4,Albania,AL,ALB,2862427.0,Europe,68.158943

In [67]:
grouped_df = europe_df.groupby(by=["countries", "month"], as_index=False)[['cases', 'deaths']].sum()
grouped_df.head(20)

   countries  month  cases  deaths
0    Albania      3    153      10
1    Albania      4    543      19
2    Albania      5    356       2
3    Albania      6   1344      25
4    Albania      7   2731      96
5    Albania      8   3408     100
6    Andorra      3    182       8
7    Andorra      4    373      34
8    Andorra      5     21       9
9    Andorra      6     91       1
10   Andorra      7     67       0
11   Andorra      8    138       1
12   Armenia      1      0       0
13   Armenia      2      0       0
14   Armenia      3    532       3
15   Armenia      4   1534      29
16   Armenia      5   7216      99
17   Armenia      6  16260     312
18   Armenia      7  13008     295
19   Armenia      8   4275     116

In [100]:
months_df = pd.DataFrame.from_dict({1:'Jan_20', 2:'Feb_20', 3:'Mar_20', 4:'Apr_20', 5:'May_20', 6:'Jun_20', 7:'Jul_20', 8:'Aug_20'},orient='index')
months_df

        0
1  Jan_20
2  Feb_20
3  Mar_20
4  Apr_20
5  May_20
6  Jun_20
7  Jul_20
8  Aug_20

In [18]:
grouped_df.to_csv('eu_covid_cases.csv')